= render 'shared/error_messages', :object => f.object
.field
  = f.label :first_name
  %br/
  = f.text_field :first_name
.field
  = f.label :last_name
  %br/
  = f.text_field :last_name
.field
  = f.label :party_id
  %br/
  = f.collection_select(:party_id, parties, :id, :name, { :prompt => true })
