= render 'shared/error_messages', :object => f.object
.field
  = f.label :first_name
  %br/
  = f.text_field :first_name
.field
  = f.label :last_name
  %br/
  = f.text_field :last_name
.field
  = f.label :party
  %br/
  = f.text_field :party
