%li
  %span.name
    = link_to perp.full_name, perp
    = surround "(", ")" do
      #{perp.party_three_letter}, #{pluralize(perp.statements_count, "statement")}
  = delete_link perp, "You sure?", "Delete #{perp.full_name}", " | "