%h1 #{@perp.full_name}
= @perp.party_name
%br/
= pluralize(@perp.statements_count, "statement")

- unless @perp.statements.empty?
  %table.statements{ :summary => "Perp statements" }
    = render @statements
  = will_paginate @statements