%tr
  %td.statement
    %span.content= "\"" + statement.content + "\""
    %br/
    %span.perp 
      #{statement.perp.full_name}
      = surround " (", ")" do
        = statement.perp.party_name
  %td.details
    %span.timestamp Posted #{time_ago_in_words(statement.created_at)} ago.
    - if current_user && current_user.admin?
      %span.delete
        = surround "(", ")" do
          = link_to "delete", perp_statement_path(statement.perp_id, statement.id), :method => :delete, 
                                         :confirm => "You sure?", 
                                         :title => "Delete #{statement.perp}: #{statement.content}"