%header.header 
  .logo
    %h1= link_to "HYPOCRITES & HYPERBOLISTS", root_path, :class => "logo"
    %span.subtitle Keep those civil servants civil
  %nav
    %ul
      %li= link_to "Perps", perps_path
      - if current_user
        %li= link_to current_user.email, edit_user_path(current_user)
        %li= link_to "Sign out", signout_path, :method => :delete
      - else
        %li= link_to "Sign in", signin_path