!!! 5
%html
  %head
    %title= title
    = csrf_meta_tags
    = render 'layouts/stylesheets'
    = javascript_include_tag :application

  %body
    .container
      = render 'layouts/header'
      - flash.each do |key, value|
        %div{:class => "flash #{key}"}
          = value
      = yield
      = render 'layouts/footer'
